nav{
    display: flex;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
}

button{
    background: transparent;
    padding: 0.5rem;
    cursor: pointer;
    border: 2px solid rgb(65 , 65 , 65);
    &:hover{
        color:white;
        background:rgb(65 , 65 , 65);
    }
}

@media screen and(max-width: 768px){
    nav{
        button{
            z-index:10;
        }
    }
}
