.song-container{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
        width: 20%;
        border-radius: 50%;
    }
    h2{
        padding: 3rem 1rem 1rem;
    }

    h3{
        font-size: 1.5rem;
    }
}

@media screen and(max-width: 768px){
    .song-container{
        img{
            width: 60%;
        }
    }
    
}

.rotate{
    -webkit-animation: spin 40s linear infinite;
    -moz-animation: spin 40s linear infinite;
    animation: spin 40s linear infinite;
}
// ue keyframes
@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}

